

.img {
    width: 100%;
    background: #ADD8E6; /* Светло-синий цвет фона изображения */
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
    color: #00008B; /* Темно-синий цвет текста */
}

.add-btn {
    width: 100%;
    background: #ADD8E6; /* Светло-синий цвет фона кнопки */
    color: #00008B; /* Темно-синий цвет текста кнопки */
}
